<div class="common-section">
    <button mat-mini-fab color="primary" type="button" (click)="openUploadDialog()">
        <mat-icon matTooltip="Ajouter tous les arrière-plans">image</mat-icon>
    </button>
    <button mat-mini-fab color="primary" type="button" (click)="this.drawService.resetBackground(this.canvasType)">
        <mat-icon matTooltip="Réinitialiser tous les arrière-plans">image_not_supported</mat-icon>
    </button>
    <button mat-mini-fab color="primary" type="button" (click)="swapForegrounds()">
        <mat-icon matTooltip="Échanger les avant-plans">
            <img class="icon" src="assets/swap-pictures-white.png" />
        </mat-icon>
    </button>
</div>
