<section [ngClass]="favoriteTheme">
    <div class="control-buttons">
        <div class="create-game-button control-button">
            <button mat-fab color="primary" matTooltip="Créer un nouveau jeu" aria-label="Boutton Créer" (click)="onClickCreateGame()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    
        <div class="edit-settings-button control-button">
            <button mat-fab color="primary" matTooltip="Modifier les paramètres du jeu" aria-label="Boutton Modifier" (click)="onClickModifySettings()">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
    </div>
</section>
