.container {
    height: 100%;
}
.page {
    min-height: 100vh;
    height: auto;
}

.play-area-container {
    overflow: auto;
    flex: 1 1 auto;
}

.play-area {
    display: grid;
    width: min-content;
    outline: none;
}

.container {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 1px solid pink;
}

.image {
    border: 3px solid black;
}

.filler {
    flex: 1 1 auto;
}
