<main [ngClass]="favoriteTheme" class="mat-app-background">
    <mat-toolbar color="primary">
        <span>MODE CLASSIQUE SOLO</span>
        <app-exit-game-button></app-exit-game-button>
    </mat-toolbar>

    <div class="page">
        <div class="header">
            <app-sidebar> </app-sidebar>

            <section class="container">
                <section class="play-area-container">
                    <app-play-area class="play-area" tabindex="0"></app-play-area>
                </section>
                <img class="image" src="https://picsum.photos/500" alt="" width="500" height="500" />
            </section>
        </div>
    </div>
</main>
