<section [ngClass]="favoriteTheme">
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Quel est votre nom?</mat-label>
            <input [(ngModel)]="playerName" matInput/>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-flat-button color="primary" mat-dialog-close>Annuler</button>
        <button mat-flat-button type="submit" color="primary" [disabled]="!playerName" (click)="onClickContinue()">Continuer</button>
    </div>
</section>
