<div class="canvas-container">
    <canvas id="noContentCanvas" #noContentCanvas hidden [width]="this.width" [height]="this.height"></canvas>
    <canvas id="img" #imageDifference [width]="this.width" [height]="this.height"></canvas>
    <canvas
        id="canvas"
        #paint
        (mouseout)="stop()"
        (mouseenter)="initializeState($event)"
        (mousedown)="start($event)"
        (mousemove)="draw($event)"
        (mouseup)="stop()"
        [width]="this.width"
        [height]="this.height"
    ></canvas>
</div>
