<div class="canvas-container">
    <canvas id="noContentCanvas" #noContentCanvas hidden [width]="this.width" [height]="this.height"></canvas>
    <canvas id="img" #imageDifference [width]="this.width" [height]="this.height"></canvas>
    <canvas
        id="canvas"
        #paint
        (mouseout)="stopDrawing()"
        (mouseenter)="enterCanvas($event)"
        (mousedown)="startDrawing($event)"
        (mousemove)="draw($event)"
        (mouseup)="stopDrawing()"
        [width]="this.width"
        [height]="this.height"
    ></canvas>
</div>
