<div>
    <mat-card>
        <mat-card-title>{{gameName}}</mat-card-title>
        <mat-card-subtitle>Solo</mat-card-subtitle>
        <img mat-card-xl-image src="{{imgSource}}">
        <mat-card-content>
            <p>Highscores</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button aria-label="Play Game Button" matTooltip="Select Game" (click)="onSelectPlayGame()">Jouer</button>
            <button mat-button aria-label="Create Game Button" matTooltip="Select Game" (click)="onSelectCreateGame()">Créer</button>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #enterNameDialogContentRef>
    <div class="dialog-content">
        <mat-form-field>
            <mat-label>Hey</mat-label>
            <input matInput placeholder="Nom">
        </mat-form-field>
    </div>
    
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Annuler</button>
        <button mat-button>Continuer</button>
    </div>
</ng-template>