<div [ngClass]="theme.ClassName" class="dialog">
    <h2 mat-title>Validation des differences</h2>
    <mat-card-content>Il y a {{ this.data.nbDifference }} differences dans ce jeu</mat-card-content>
    <canvas width="640px" height="480px" id="imageDifference" #imageDifference></canvas>
    <form [formGroup]="this.form">
        <mat-form-field>
            <input matInput type="text" placeholder="Nom du jeu" formControlName="name" />
        </mat-form-field>
        <mat-error *ngIf="!this.form.valid"> Le nom du jeu doit contenir des lettres</mat-error>
    </form>
    <mat-dialog-actions>
        <button type="button" color="primary" mat-button mat-dialog-close>Cancel</button>
        <button
            mat-button
            color="primary"
            mat-dialog-close
            [disabled]="!this.form.valid"
            (click)="this.createGame()"
            routerLink="/admin"
            type="submit"
        >
            Créer la partie
        </button>
    </mat-dialog-actions>
</div>
