<section [ngClass]="favoriteTheme">
    <div class="game-cards-container">
        <div class="game-card-container" *ngFor="let gameCard of gameCards">
            <app-game-card
            [gameCard]="gameCard"></app-game-card>
        </div>
    </div>

    <div class="carouesel-actions-container">
        <button mat-icon-button color="primary">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button color="primary">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</section>
