.game-cards-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    max-height: 80vh;
}

.game-card-container {
    margin-right: 1vw;
    margin-left: 1vw;
    max-width: 23vw;
}

.carouesel-actions-container {
    display: flex;
    justify-content: center;
}

.carouesel-actions-container > button {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 5vh;
}
