<section class="carousel" [ngClass]="favoriteTheme">
    <div class="page-content"  *ngIf="isInformationLoaded; else loadingScreen">
        <div class="game-number-container" *ngIf="!isAdmin">
            <span class="game-number">{{ getCardsCount() }} jeu<span *ngIf="hasMoreThanOneCard()">x</span></span>
        </div>

        <div class="game-cards-container">
            <div class="game-card-container" *ngFor="let gameCard of gameCards">
                <app-game-card
                [gameCard]="gameCard"
                *ngIf="gameCard.isShown"></app-game-card>
            </div>
        </div>
    
        <div class="carousel-actions-container" *ngIf="hasCards() && isInformationLoaded">
            <button mat-fab color="primary" [disabled]="!hasCardsBefore()" (click)="onClickPrevious()">
                <mat-icon><b>chevron_left</b></mat-icon>
            </button>
            <button mat-fab color="primary" [disabled]="!hasCardsAfter()" (click)="onClickNext()">
                <mat-icon><b>chevron_right</b></mat-icon>
            </button>
        </div>
    </div>

    <ng-template #loadingScreen>
        <div class="spinner-container">
            <mat-progress-spinner class="progress-spinner" 
            [color]="favoriteTheme" 
            [mode]="'indeterminate'" 
            [diameter]="150"
            [strokeWidth]="10"></mat-progress-spinner>
        </div>
    </ng-template>
</section>