<button class="fav-icon" mat-icon-button matTooltip="Quitter" (click)="onExit()">
    <mat-icon>exit_to_app</mat-icon>
</button>


    <ng-template #exitDialogContent>
        <div [ngClass]="theme">
            <h1 mat-dialog-title>{{exitButtonService.getMessage()}}</h1>
            <div  mat-dialog-content>Être-vous certain de vouloir <strong>quitter</strong>? Votre progrès ne sera pas sauvegardé.</div>
            <div mat-dialog-actions align="end">
            <button mat-raised-button mat-dialog-close color="primary" >Annuler</button>
                <div *ngIf="exitButtonService.isOnGamePage; else isOnCreateGame">
                    <button color="primary" mat-button routerLink="/home" mat-dialog-close>Quitter</button>
                </div>
                <ng-template #isOnCreateGame>
                    <button mat-button routerLink="/admin" mat-dialog-close color="primary">Quitter</button>
                </ng-template>
        </div>
    </div>
    </ng-template>

