.canvasSelector {
    display: flex;
    justify-content: space-around;
    width: 700px;
}

canvas {
    box-sizing: border-box;
    border: 0.25em black solid;
}

canvas:hover {
    box-shadow: 0.25em 0.25em rgba(200, 200, 200, 0.6);
    border-radius: 0.25em;
}
