.card-container {
    display: flex;
    justify-content: center;
}

mat-toolbar {
    margin-bottom: 20px;
}

mat-grid-list {
    width: 80vw;
}

.mat-grid-list {
    padding-bottom: 0;
}

mat-grid-tile {
    background-color: lightblue;
}

button {
    position: inherit;
    transform: translateY(40vh);
    height: 50px;
}