<main [ngClass]="favoriteTheme">
    <mat-toolbar color="primary">Select your game mode !</mat-toolbar>
    <div class="card-container">
        <button mat-button aria-label="Parties précédentes" matTooltip="Précédentes" (click)="onClickPrevious()">< Précédentes</button>

        <mat-grid-list color="primary" cols="2" rowHeight="2:1">
            <div *ngFor="let gameCard of gameCards">
                <div *ngIf="gameCard.isShown === true">
                    <mat-grid-tile>
                        <app-game-card></app-game-card>
                    </mat-grid-tile>
                </div>
            </div>
            
        </mat-grid-list>

        <button mat-button aria-label="Prochaines parties" matTooltip="Prochaines" (click)="onClickNext()">Prochaines ></button> 
    </div>
</main>
