.home-button {
    margin-right: 0.5vw;
}

.game-number-container {
    display: flex;
    justify-content: right;
}

.game-number {
    margin-bottom: 2.5vh;
    margin-right: 1vw;
    font-weight: bold;
    font-size: 1rem;
}

.header-toolbar {
    height: 10vh;
}

mat-toolbar {
    margin-bottom: 1vh;
}