<h1 mat-dialog-title>Téléverser une image BMP 24-bit de taille 640x480</h1>
<form (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-list role="list">
            <h2>Selection le canvas ou vous voulez televerser l'image</h2>
            <app-canvas-selector (canvasSelector)="this.isCanvasUpload = $event"></app-canvas-selector>
            <input mat-fab type="file" color="primary" accept=".bmp" (change)="this.uploadImage($event)" />
            <mat-error *ngIf="!this.isPropertiesImageCorrect.type">Le type d'image doit etre un bitmap</mat-error>
            <mat-error *ngIf="!this.isPropertiesImageCorrect.size">La taille d'image doit etre 640*480</mat-error>
            <mat-error *ngIf="!this.isPropertiesImageCorrect.format">La format d'image doit etre 24-bits</mat-error>
        </mat-list>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" [disabled]="this.isFormSubmitted ? null : 'disabled'" type="submit">Upload</button>
    </mat-dialog-actions>
</form>
