<h2 mat-dialog-title>Reinitialiser une image</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-form-field>
        <mat-label>Quelles type d'image doit etre reinitialiser?</mat-label>
        <mat-select formControlName="reset">
            <mat-option value=""></mat-option>
            <mat-option value="diff">Image des difference</mat-option>
            <mat-option value="source">Image sources</mat-option>
            <mat-option value="both">Les deux types</mat-option>
        </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button type="button" mat-button mat-dialog-close>Cancel</button>
        <button type="button" [mat-dialog-close]="true" type="submit" [disabled]="this.form.valid ? null: 'disabled'">Reinitialiser</button>
    </mat-dialog-actions>
</form>
