<h2 mat-dialog-title>Réinitialiser une image</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>Quelles type d'image doit etre réinitialiser?</mat-label>
            <mat-select formControlName="reset">
                <mat-option value=""></mat-option>
                <mat-option [value]="typePropagateCanvasEvent.Difference">Tableau à dessin</mat-option>
                <mat-option [value]="typePropagateCanvasEvent.Source">Tableau comparatif</mat-option>
                <mat-option [value]="typePropagateCanvasEvent.Both">Tableau à dessin et Tableau comparatif</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button type="button" mat-button mat-dialog-close>Cancel</button>
        <button type="button" [mat-dialog-close]="true" type="submit" [disabled]="this.form.valid ? null : 'disabled'">Reinitialiser</button>
    </mat-dialog-actions>
</form>
