ul {
    list-style-type: none;
    padding:0;
}

#main {
    display: grid;
    gap: 2em;
    grid-template:  2em 2em 1fr/ repeat(2, 1fr);
    justify-content: center;
    margin: 0;
}

#main > li:first-child {
    grid-column: 1 / 4;
}

canvas, .img{
    border: 0.25em solid;
    border-color: black;
}

#tool{
    grid-column: 1/4;
}

#tool > ul {
    display: flex;
    justify-content: space-between;
}

#drawImg {
    margin-left: 10em;
}

.canvas {
    display: flex;
    flex-direction: column;
}

.canvas > label {
    text-align: center;
    text-decoration: underline;
}

.img {
    width: 640px;
    height: 480px;
}