ul {
    list-style-type: none;
    padding:0;
    display: grid;
    gap: 2em;
    grid-template:  2em 1fr 2em/ 15em repeat(2, 1fr);
    justify-content: center;
}

ul > li:first-child {
    grid-column: 1 / 4;
    justify-content: center;
    display: flex;
    display: flex;
}

canvas {
    border: 0.25em solid;
    border-color: black;
}

ul > li:last-child {
    grid-column: 1 / 4;
}

#toolBox{
    display: flex;
    align-items: center;
}
.canvas {
    display: flex;
    flex-direction: column;
}
.canvas > label {
    text-align: center;
    text-decoration: underline;
}

#img {
    width: 640px;
    height: 480px;
}