<section [ngClass]="favoriteTheme">
    <h2 class="title">Modifier les paramètres de jeu</h2>
    <h4 class="success-time">Temps à la découverte d'une différence</h4>
    <button>-</button>
    <input type="text">
    <button>+</button>
    <h4 class="timer-time">Temps du compte à rebours</h4>
    <button>-</button>
    <input type="text">
    <button>+</button>
    <h4 class="time-penalty">Temps de pénalité pour l'utilisation d'un indice</h4>
    <button>-</button>
    <input type="text">
    <button>+</button>
    <br>
    <button class="close-button" mat-flat-button matTooltip="Fermer le dialog" color="primary" mat-dialog-close>Fermer</button>
    <!-- <button class="default-button" mat-flat-button matTooltip="Restaurer les valeurs par défaut" color="primary" (click)="onClickRestoreDefaults()">Défaut</button> -->
</section>
