.container {
    min-height: 15vh;
    padding: 10px 15px 10px 15px;
}

.game-infos {
    font-size: small;
    margin-right: auto;
    line-height: 40%;
}

.title {
    font-size: medium;
    line-height: normal;
}
