<div class="container">
    <mat-grid-list cols="3" rowHeight="15vh">
        <mat-grid-tile>
            <section class="game-infos">
                <p class="title"><strong> INFOS DU JEU</strong></p>
                <p>Nom du jeu :</p>
                <p>Mode de jeu :</p>
                <p>Temps de pénalité ajouté :</p>
                <p>Temps gagné par différence trouvé :</p>
            </section>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-clues-area (clueCounter)="onClueAsked($event)"></app-clues-area>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-timer-countdown [timerAdmin]="timer" [clueAskedCounter]="askedClue"></app-timer-countdown>
            <!-- <app-timer-stopwatch [clueAskedCounter]="askedClue"></app-timer-stopwatch> -->
        </mat-grid-tile>
    </mat-grid-list>
</div>
