<section class="timer">
    <div class="timer-clock">
        <mat-icon class="clock-icon" [ngStyle]="{ color: secondsLeft > 5 ? 'black' : 'red' }">timer</mat-icon>
        <p *ngIf="secondsLeft > 5; else elseBlock">{{ displayTime() }}</p>
        <ng-template #elseBlock>
            <p class="timer-red">{{ displayTime() }}</p>
        </ng-template>
    </div>
</section>

<ng-template #gameOverDialog>
    <h1 mat-dialog-title>Partie terminée !</h1>
    <div mat-dialog-content>Pointage :</div>
    <div mat-dialog-actions align="end">
        <button mat-button routerLink="/home" mat-dialog-close color="primary">Quitter</button>
    </div>
</ng-template>
