<section class="timer">
    <div class="timer-clock">
        <mat-icon class="clock-icon" [ngStyle]="{ color: moreThanFiveSeconds() ? 'black' : 'red' }">timer</mat-icon>
        <p *ngIf="moreThanFiveSeconds(); else elseBlock">{{ timerDisplay }}</p>
        <ng-template #elseBlock>
            <p class="timer-red">{{ timerDisplay }}</p>
        </ng-template>
    </div>
</section>

<ng-template #gameOverDialog>
    <h1 mat-dialog-title>Partie terminée !</h1>
    <div mat-dialog-content>Pointage :</div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button routerLink="/home" mat-dialog-close color="primary" mat-primary>Quitter</button>
    </div>
</ng-template>
