<div id="grid-container">
    <div class="wrapper">
        <canvas #img class="img" width="SIZE.X" height="SIZE.Y"></canvas>
        <canvas #actionsGameOriginal class="canvas" (click)="mouseHitDetect($event, 'original')" [width]="width" [height]="height"></canvas>
    </div>
    <div class="wrapper">
        <canvas #img2 class="img" width="SIZE.X" height="SIZE.Y"></canvas>
        <canvas #actionsGameModified class="canvas" (click)="mouseHitDetect($event, 'modified')" [width]="width" [height]="height"></canvas>
    </div>
</div>
<!-- <div id="mouse-position-display">
    <p>Cliquez sur la grille pour avoir la position de la souris</p>
    <p *ngIf="mousePosition.x !== 0">X : {{ mousePosition.x }}</p>
    <p *ngIf="mousePosition.y !== 0">Y : {{ mousePosition.y }}</p>
    <hr />
    <p>Appuyez sur une touche du clavier pour la détecter</p>
    <p *ngIf="buttonPressed !== ''">Touche : {{ buttonPressed }}</p>
</div> -->
